.inline-block {
  display: inline-block;
  background-color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.header {
  background-color: lightgreen;
  padding: 10px;
}

.left {
  float: left;
  width: 50%;
  background-color: orange;
  opacity: 50%;  
  height: 500px
  
}

.container1 {
  text-align: left; 
  padding: 10px;
}

.container2 {
  background-color: orange;
  padding: 10px;
  opacity: 50%;
}

.imagePlaceholder {
  height: 200px;
  background-color: orange;
}

p {
  font-family: helvetica;
  color: blue;
  font-weight: bold;
}

